* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.wrapper {
    overflow: hidden;
}

.header {}

.header-bg {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 100vw;
    height: 60px;
    background-color: #00499c;
    border-radius: 0 0 10px 10px;

}

.header-text {
    color: #fff;
    font-size: 1.3em;
}

.main {
    padding-top: 70px;
}

table {
    width: 100vw;
    justify-content: center;
    display: flex;
}

table,
th,
td {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

table img {
    display: flex;
    width: 95vw;
    border: 1px solid #00499c;
    border-radius: 10px;
}

tr {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    background-color: #00499c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 15px;
}