* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
}

body {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import "box/_header.scss";
@import "box/_main.scss";
@import "box/_footer.scss";