.header {
    display: block;
    height: 60px;
}

.header-bg {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    background-color: rgba(0, 47, 90, 0.9);
}

.header-text {
    color: #fff;
    font-size: 2em;
}