:root {
    --header-fon: #007558;
    --header-text: #fff;
    --header-loc: #8ac9b9;

    --subheader-fon: #007558;
    --subheader-ru: #8ac9b9;
    --subheader-ar: #8ac9b9;
    --subheader-day: #8ac9b9;
    --subheader-clock: #ffffff;

    --clock-sec: #a3ffd4;
}