header {
    position: relative;
    height: 60px;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: rgba(165, 42, 42, 0.8);

    h1 {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }
}