main {
  
}

.main_box {

}


.vk {
    ;

}

.embedvkgallery_img {
    padding: 15px 10px 0;
    width: 100vw;
    background-color: #f1f1f1

    
}

p {

}

.embedvkgallery_link {
    pointer-events: none;
}