.subheader {
    height: 60px;
}

.subheader_data_clock {
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    background-color: var(--subheader-fon);
    height: 60px;
    align-items: center;
    padding: 0 15px;
}

.subheader_mount_day {}

.subheader_mount_day p {
    font-size: 1.3em;
}

.subheader_mount_day p:nth-child(1) {
    color: var(--subheader-ru);
}

.subheader_mount_day p:nth-child(2) {
    font-size: 1.1em;
    color: var(--subheader-ar);
}

.subheader_mount_day p:nth-child(3) {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--subheader-day);
}

.subheader_clock {
    
}

.subheader_clock p {
    color: var(--subheader-clock);
    font-size: 2em;
    font-weight: bold;

}

#clock span {
    color: var(--clock-sec);
    font-size: 0.6em;
    font-weight: normal;
}

#clock span::before {
    content: " ";
}