.prayerTimesTableBodyMain td {
    text-align: left;
    padding-left: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #007558;
}


.pastPrayer {
    background-color: #f8d7da;
    /* Цвет фона для наступившего намаза */
}

.nextPrayer {
    background-color: #d4edda;
    /* Цвет фона для следующего намаза */
}

.pastPrayerText {
    color: #868686;
    /* Цвет текста для прошедшего намаза */
}

.remainingTime {
    font-weight: bold;
    color: #000;
}

.listmounth {
    width: 100vw;
    height: 50px;
    border: none;
    font-size: 1.7em;
    text-transform: uppercase;
    padding-left: 15px;
    color: #007558;
}

table {
    width: 100vw;
    border-collapse: collapse;

}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;

}

.stici {
    background-color: #f2f2f2;
    position: sticky;
    top: 60px;
}

.current-day-cell {
    background-color: #007558;
    color: #ffffff;
}



table tr th {
    font-size: calc(2vw + 6px);
    padding: 10px 2px;
}

table tr td {
    font-size: calc(3vw + 2px);
    text-align: center;
    padding: 5px 1px;
    border: 0px;
}